<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mall.mapper.AddressMapper">
  <resultMap id="BaseResultMap" type="com.cskaoyan.mall.bean.Address">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="province_id" jdbcType="INTEGER" property="provinceId" />
    <result column="city_id" jdbcType="INTEGER" property="cityId" />
    <result column="area_id" jdbcType="INTEGER" property="areaId" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="is_default" jdbcType="BIT" property="isDefault" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `name`, user_id, province_id, city_id, area_id, address, mobile, is_default, add_time,
    update_time, deleted
  </sql>
  <sql id="Base_Comlumn_List_UserSite">
     a.id,
    a.name,
    a.user_id as userId,
    a.province_id as provinceId,
    a.city_id as cityId,
    a.area_id as areaId,
    a.address,
    a.mobile,
    a.is_default as isDefault,
    a.add_time as addTime,
    a.update_time as updateTime,
    a.deleted,
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from cskaoyan_mall_address
    where id = #{id,jdbcType=INTEGER} and deleted = 0
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cskaoyan_mall_address
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cskaoyan.mall.bean.Address">
    insert into cskaoyan_mall_address (id, name, user_id,
      province_id, city_id, area_id,
      address, mobile, is_default,
      add_time, update_time, deleted
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER},
      #{provinceId,jdbcType=INTEGER}, #{cityId,jdbcType=INTEGER}, #{areaId,jdbcType=INTEGER},
      #{address,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{isDefault,jdbcType=BIT},
      #{addTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{deleted,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cskaoyan.mall.bean.Address">
    insert into cskaoyan_mall_address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="provinceId != null">
        province_id,
      </if>
      <if test="cityId != null">
        city_id,
      </if>
      <if test="areaId != null">
        area_id,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="isDefault != null">
        is_default,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="provinceId != null">
        #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="areaId != null">
        #{areaId,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null">
        #{isDefault,jdbcType=BIT},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cskaoyan.mall.bean.Address">
    update cskaoyan_mall_address
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="provinceId != null">
        province_id = #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null">
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="areaId != null">
        area_id = #{areaId,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null">
        is_default = #{isDefault,jdbcType=BIT},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cskaoyan.mall.bean.Address">
    update cskaoyan_mall_address
    set name = #{name,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      province_id = #{provinceId,jdbcType=INTEGER},
      city_id = #{cityId,jdbcType=INTEGER},
      area_id = #{areaId,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      is_default = #{isDefault,jdbcType=BIT},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByIdAndNameKey" resultType="com.cskaoyan.mall.bean.Address">
    SELECT <include refid="Base_Comlumn_List_UserSite"/>
    c1.name AS province,c2.name AS city,c3.name AS `area`
    FROM `cskaoyan_mall_address` a
    LEFT JOIN `cskaoyan_mall_region` c1
    ON province_id = c1.code
    LEFT JOIN `cskaoyan_mall_region` c2
    ON city_id = c2.code
    LEFT JOIN `cskaoyan_mall_region` c3
    ON area_id = c3.code
            where a.name like #{name}
            <if test="userId != null">
              and a.user_id = #{userId}
            </if>
  </select>
  <select id="selectAddress" resultType="com.cskaoyan.mall.bean.Address">
    SELECT  a.name,a.is_default as isDefault,a.mobile,a.id, a.address,a.deleted,
    c1.name AS province,c2.name AS city,c3.name AS `area`,u.username
    FROM cskaoyan_mall_user u
    LEFT JOIN `cskaoyan_mall_address` a
    ON u.id = a.user_id
    LEFT JOIN `cskaoyan_mall_region` c1
    ON province_id = c1.code
    LEFT JOIN `cskaoyan_mall_region` c2
    ON city_id = c2.code
    LEFT JOIN `cskaoyan_mall_region` c3
    ON area_id = c3.code
    WHERE a.deleted = 0
    and u.username = #{username}
  </select>
  <insert id="addProfile">
    insert into cskaoyan_mall_address
    (user_id,address,area_id,city_id,is_default,mobile,`name`,province_id,add_time,update_time)
    values (#{address.userId},#{address.address},#{address.areaId},#{address.cityId},#{address.isDefault},#{address.mobile},#{address.name},#{address.provinceId},#{address.addTime},#{address.updateTime})
  </insert>
  <!-- 打算判断数据库是否存在某id，存在则更新，不存在则插入-->
  <!--<insert id="addProfile">-->
  <!--INSERT INTO cskaoyan_mall_address-->
  <!--(user_id,address,area_id,city_id,is_default,mobile,`name`,province_id,add_time,update_time)-->
  <!--SELECT id,NOW()-->
  <!--FROM DUAL WHERE NOT EXISTS (-->
  <!--SELECT 1 FROM cskaoyan_mall_address WHERE templateName='自定义' LIMIT 1-->
  <!--);-->
  <!--</insert>-->
  <update id="concealAddress">
    update cskaoyan_mall_address
    set deleted = 1
    where id = #{id}
  </update>
  <!--根据Id查询具体的省份城市地区-->
  <select id="selectAddressById" resultType="com.cskaoyan.mall.bean.Address">
    SELECT  a.name,a.is_default as isDefault,a.mobile,a.id, a.address,a.deleted,
    a.area_id as areaId,city_id AS cityId,province_id AS provinceId,
    c1.name AS provinceName,c2.name AS cityName,c3.name AS areaName
    FROM cskaoyan_mall_user u
    LEFT JOIN `cskaoyan_mall_address` a
    ON u.id = a.user_id
    LEFT JOIN `cskaoyan_mall_region` c1
    ON province_id = c1.code
    LEFT JOIN `cskaoyan_mall_region` c2
    ON city_id = c2.code
    LEFT JOIN `cskaoyan_mall_region` c3
    ON area_id = c3.code
    WHERE a.deleted = 0
    AND a.id = #{id}
  </select>
  
  <select id="selectDefaultAddressByUserId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from cskaoyan_mall_address
    where deleted = 0 and userId = #{userId,jdbcType=INTEGER} and is_default = 1
  </select>

</mapper>
