<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mall.mapper.CouponUserMapper">
  <resultMap id="BaseResultMap" type="com.cskaoyan.mall.bean.CouponUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="coupon_id" jdbcType="INTEGER" property="couponId" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="used_time" jdbcType="TIMESTAMP" property="usedTime" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, coupon_id, status, used_time, start_time, end_time, order_id, add_time,
    update_time, deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from cskaoyan_mall_coupon_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cskaoyan_mall_coupon_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cskaoyan.mall.bean.CouponUser">
    insert into cskaoyan_mall_coupon_user (id, user_id, coupon_id,
      status, used_time, start_time,
      end_time, order_id, add_time,
      update_time, deleted)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{couponId,jdbcType=INTEGER},
      #{status,jdbcType=SMALLINT}, #{usedTime,jdbcType=TIMESTAMP}, #{startTime,jdbcType=TIMESTAMP},
      #{endTime,jdbcType=TIMESTAMP}, #{orderId,jdbcType=INTEGER}, #{addTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP}, #{deleted,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.cskaoyan.mall.bean.CouponUser">
    insert into cskaoyan_mall_coupon_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="couponId != null">
        coupon_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="usedTime != null">
        used_time,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="couponId != null">
        #{couponId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="usedTime != null">
        #{usedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cskaoyan.mall.bean.CouponUser">
    update cskaoyan_mall_coupon_user
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="couponId != null">
        coupon_id = #{couponId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="usedTime != null">
        used_time = #{usedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cskaoyan.mall.bean.CouponUser">
    update cskaoyan_mall_coupon_user
    set user_id = #{userId,jdbcType=INTEGER},
      coupon_id = #{couponId,jdbcType=INTEGER},
      status = #{status,jdbcType=SMALLINT},
      used_time = #{usedTime,jdbcType=TIMESTAMP},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      order_id = #{orderId,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="queryCouponUsers" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from cskaoyan_mall_coupon_user
    where coupon_id = #{couponId,jdbcType=INTEGER}
    <if test="status != null">
      and status = #{status}
    </if>
    <if test="userId != null">
      and user_id = #{userId}
    </if>
  </select>
  <update id="deleteByCouponId" parameterType="int">
    update cskaoyan_mall_coupon_user
    set deleted = 1
    where coupon_id = #{couponId}
  </update>


  <select id="queryCouponsByStatus"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from cskaoyan_mall_coupon_user where status=#{status}
  </select>




  <insert id="insertUser" parameterType="com.cskaoyan.mall.bean.CouponUser">
    insert into cskaoyan_mall_coupon_user (coupon_id,user_id,
      status, start_time,
      end_time,add_time
     )
    values ( #{couponId,jdbcType=INTEGER},#{userId,jdbcType=INTEGER},
      #{status,jdbcType=SMALLINT}, #{startTime,jdbcType=TIMESTAMP},
      #{endTime,jdbcType=TIMESTAMP}, #{addTime,jdbcType=TIMESTAMP}
    )
  </insert>

<select id="queryByUserId"  resultMap="BaseResultMap">
  select
  <include refid="Base_Column_List"/> from
  cskaoyan_mall_coupon_user  where user_id=#{userId}
</select>

</mapper>
