<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mall.mapper.GoodsMapper">
    <select id="selectGoodsListByCategoryId" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from cskaoyan_mall_goods
        where category_id = #{categoryId,jdbcType=INTEGER} and deleted = 0
    </select>

    <select id="selectGoodsByGoodsSnOrName" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from cskaoyan_mall_goods
        <where>
            deleted = 0
            <if test="goods.goodsSn != null">
                and goods_sn = #{goods.goodsSn}
            </if>
            <if test="goods.name != null">
                and name like concat('%',#{goods.name},'%')
            </if>
        </where>
    </select>
    <select id="selectGoodsByGoodsSn" resultType="int">
        select count(id) from cskaoyan_mall_goods where deleted = 0 and goods_sn = #{goods.goodsSn}
    </select>
    <update id="updateGoodsDeleted">
    update cskaoyan_mall_goods set  deleted = 1 where id = #{id}
</update>
    <resultMap id="BaseResultMap" type="com.cskaoyan.mall.bean.Goods">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="goods_sn" jdbcType="VARCHAR" property="goodsSn"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="category_id" jdbcType="INTEGER" property="categoryId"/>
        <result column="brand_id" jdbcType="INTEGER" property="brandId"/>
        <result column="gallery" jdbcType="VARCHAR" property="gallery"/>
        <result column="keywords" jdbcType="VARCHAR" property="keywords"/>
        <result column="brief" jdbcType="VARCHAR" property="brief"/>
        <result column="is_on_sale" jdbcType="BIT" property="isOnSale"/>
        <result column="sort_order" jdbcType="SMALLINT" property="sortOrder"/>
        <result column="pic_url" jdbcType="VARCHAR" property="picUrl"/>
        <result column="share_url" jdbcType="VARCHAR" property="shareUrl"/>
        <result column="is_new" jdbcType="BIT" property="isNew"/>
        <result column="is_hot" jdbcType="BIT" property="isHot"/>
        <result column="unit" jdbcType="VARCHAR" property="unit"/>
        <result column="counter_price" jdbcType="DECIMAL"
                property="counterPrice"/>
        <result column="retail_price" jdbcType="DECIMAL"
                property="retailPrice"/>
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime"/>
        <result column="update_time" jdbcType="TIMESTAMP"
                property="updateTime"/>
        <result column="deleted" jdbcType="BIT" property="deleted"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs"
               type="com.cskaoyan.mall.bean.Goods">
        <result column="detail" jdbcType="LONGVARCHAR" property="detail"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, goods_sn, name, category_id, brand_id, gallery, keywords, brief, is_on_sale,
    sort_order, pic_url, share_url, is_new, is_hot, unit, counter_price, retail_price,
    add_time, update_time, deleted
  </sql>
    <sql id="Blob_Column_List">
    detail
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer"
            resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from cskaoyan_mall_goods
        where id = #{id,jdbcType=INTEGER} and deleted = 0
    </select>
    <select id="selectById" resultType="com.cskaoyan.mall.bean.Goods">
        select id, `name`, brief,counter_price as counterPrice, pic_url as picUrl, retail_price as retailPrice
        from cskaoyan_mall_goods
        where id = #{id} and deleted = 0
    </select>
    <select id="selectTopByHot" resultType="com.cskaoyan.mall.bean.Goods">
        select id, `name`, brief,counter_price as counterPrice,
        pic_url as picUrl, retail_price as retailPrice, is_hot as isHot, is_new as isNew
        from cskaoyan_mall_goods
        where deleted = 0 and is_hot = 0
        order by update_time desc
        limit #{limit} offset 0
    </select>
    <select id="selectTopByNew" resultType="com.cskaoyan.mall.bean.Goods">
        select id, `name`, brief,counter_price as counterPrice,
        pic_url as picUrl, retail_price as retailPrice, is_hot as isHot, is_new as isNew
        from cskaoyan_mall_goods
        where deleted = 0 and is_new = 0
        order by update_time desc
        limit #{limit} offset 0
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cskaoyan_mall_goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.cskaoyan.mall.bean.Goods">
    insert into cskaoyan_mall_goods (id, goods_sn, name,
      category_id, brand_id, gallery,
      keywords, brief, is_on_sale,
      sort_order, pic_url, share_url,
      is_new, is_hot, unit, counter_price,
      retail_price, add_time, update_time,
      deleted, detail)
    values (#{id,jdbcType=INTEGER}, #{goodsSn,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
      #{categoryId,jdbcType=INTEGER}, #{brandId,jdbcType=INTEGER}, #{gallery,jdbcType=VARCHAR},
      #{keywords,jdbcType=VARCHAR}, #{brief,jdbcType=VARCHAR}, #{isOnSale,jdbcType=BIT},
      #{sortOrder,jdbcType=SMALLINT}, #{picUrl,jdbcType=VARCHAR}, #{shareUrl,jdbcType=VARCHAR},
      #{isNew,jdbcType=BIT}, #{isHot,jdbcType=BIT}, #{unit,jdbcType=VARCHAR}, #{counterPrice,jdbcType=DECIMAL},
      #{retailPrice,jdbcType=DECIMAL}, #{addTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
      #{deleted,jdbcType=BIT}, #{detail,jdbcType=LONGVARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.cskaoyan.mall.bean.Goods">
        insert into cskaoyan_mall_goods
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="goodsSn != null">
                goods_sn,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="categoryId != null">
                category_id,
            </if>
            <if test="brandId != null">
                brand_id,
            </if>
            <if test="gallery != null">
                gallery,
            </if>
            <if test="keywords != null">
                keywords,
            </if>
            <if test="brief != null">
                brief,
            </if>
            <if test="isOnSale != null">
                is_on_sale,
            </if>
            <if test="sortOrder != null">
                sort_order,
            </if>
            <if test="picUrl != null">
                pic_url,
            </if>
            <if test="shareUrl != null">
                share_url,
            </if>
            <if test="isNew != null">
                is_new,
            </if>
            <if test="isHot != null">
                is_hot,
            </if>
            <if test="unit != null">
                unit,
            </if>
            <if test="counterPrice != null">
                counter_price,
            </if>
            <if test="retailPrice != null">
                retail_price,
            </if>
            <if test="addTime != null">
                add_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
            <if test="detail != null">
                detail,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="goodsSn != null">
                #{goodsSn,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="categoryId != null">
                #{categoryId,jdbcType=INTEGER},
            </if>
            <if test="brandId != null">
                #{brandId,jdbcType=INTEGER},
            </if>
            <if test="gallery != null">
                #{gallery,jdbcType=VARCHAR},
            </if>
            <if test="keywords != null">
                #{keywords,jdbcType=VARCHAR},
            </if>
            <if test="brief != null">
                #{brief,jdbcType=VARCHAR},
            </if>
            <if test="isOnSale != null">
                #{isOnSale,jdbcType=BIT},
            </if>
            <if test="sortOrder != null">
                #{sortOrder,jdbcType=SMALLINT},
            </if>
            <if test="picUrl != null">
                #{picUrl,jdbcType=VARCHAR},
            </if>
            <if test="shareUrl != null">
                #{shareUrl,jdbcType=VARCHAR},
            </if>
            <if test="isNew != null">
                #{isNew,jdbcType=BIT},
            </if>
            <if test="isHot != null">
                #{isHot,jdbcType=BIT},
            </if>
            <if test="unit != null">
                #{unit,jdbcType=VARCHAR},
            </if>
            <if test="counterPrice != null">
                #{counterPrice,jdbcType=DECIMAL},
            </if>
            <if test="retailPrice != null">
                #{retailPrice,jdbcType=DECIMAL},
            </if>
            <if test="addTime != null">
                #{addTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null">
                #{deleted,jdbcType=BIT},
            </if>
            <if test="detail != null">
                #{detail,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.cskaoyan.mall.bean.Goods">
        update cskaoyan_mall_goods
        <set>
            <if test="goodsSn != null">
                goods_sn = #{goodsSn,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="categoryId != null">
                category_id = #{categoryId,jdbcType=INTEGER},
            </if>
            <if test="brandId != null">
                brand_id = #{brandId,jdbcType=INTEGER},
            </if>
            <if test="gallery != null">
                gallery = #{gallery,jdbcType=VARCHAR},
            </if>
            <if test="keywords != null">
                keywords = #{keywords,jdbcType=VARCHAR},
            </if>
            <if test="brief != null">
                brief = #{brief,jdbcType=VARCHAR},
            </if>
            <if test="isOnSale != null">
                is_on_sale = #{isOnSale,jdbcType=BIT},
            </if>
            <if test="sortOrder != null">
                sort_order = #{sortOrder,jdbcType=SMALLINT},
            </if>
            <if test="picUrl != null">
                pic_url = #{picUrl,jdbcType=VARCHAR},
            </if>
            <if test="shareUrl != null">
                share_url = #{shareUrl,jdbcType=VARCHAR},
            </if>
            <if test="isNew != null">
                is_new = #{isNew,jdbcType=BIT},
            </if>
            <if test="isHot != null">
                is_hot = #{isHot,jdbcType=BIT},
            </if>
            <if test="unit != null">
                unit = #{unit,jdbcType=VARCHAR},
            </if>
            <if test="counterPrice != null">
                counter_price = #{counterPrice,jdbcType=DECIMAL},
            </if>
            <if test="retailPrice != null">
                retail_price = #{retailPrice,jdbcType=DECIMAL},
            </if>
            <if test="addTime != null">
                add_time = #{addTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null">
                deleted = #{deleted,jdbcType=BIT},
            </if>
            <if test="detail != null">
                detail = #{detail,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs"
            parameterType="com.cskaoyan.mall.bean.Goods">
    update cskaoyan_mall_goods
    set goods_sn = #{goodsSn,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=INTEGER},
      brand_id = #{brandId,jdbcType=INTEGER},
      gallery = #{gallery,jdbcType=VARCHAR},
      keywords = #{keywords,jdbcType=VARCHAR},
      brief = #{brief,jdbcType=VARCHAR},
      is_on_sale = #{isOnSale,jdbcType=BIT},
      sort_order = #{sortOrder,jdbcType=SMALLINT},
      pic_url = #{picUrl,jdbcType=VARCHAR},
      share_url = #{shareUrl,jdbcType=VARCHAR},
      is_new = #{isNew,jdbcType=BIT},
      is_hot = #{isHot,jdbcType=BIT},
      unit = #{unit,jdbcType=VARCHAR},
      counter_price = #{counterPrice,jdbcType=DECIMAL},
      retail_price = #{retailPrice,jdbcType=DECIMAL},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=BIT},
      detail = #{detail,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateByPrimaryKey"
            parameterType="com.cskaoyan.mall.bean.Goods">
    update cskaoyan_mall_goods
    set goods_sn = #{goodsSn,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=INTEGER},
      brand_id = #{brandId,jdbcType=INTEGER},
      gallery = #{gallery,jdbcType=VARCHAR},
      keywords = #{keywords,jdbcType=VARCHAR},
      brief = #{brief,jdbcType=VARCHAR},
      is_on_sale = #{isOnSale,jdbcType=BIT},
      sort_order = #{sortOrder,jdbcType=SMALLINT},
      pic_url = #{picUrl,jdbcType=VARCHAR},
      share_url = #{shareUrl,jdbcType=VARCHAR},
      is_new = #{isNew,jdbcType=BIT},
      is_hot = #{isHot,jdbcType=BIT},
      unit = #{unit,jdbcType=VARCHAR},
      counter_price = #{counterPrice,jdbcType=DECIMAL},
      retail_price = #{retailPrice,jdbcType=DECIMAL},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <insert id="insertSelectKey" parameterType="com.cskaoyan.mall.bean.Goods">
    <selectKey resultType="int" keyProperty="id" keyColumn="id" order="AFTER">
        select last_insert_id()
    </selectKey>
    insert into cskaoyan_mall_goods (id,goods_sn, name,
      category_id, brand_id, gallery,
      keywords, brief, is_on_sale,
      sort_order, pic_url, share_url,
      is_new, is_hot, unit, counter_price,
      retail_price, add_time, update_time,
      deleted, detail)
    values (#{id,jdbcType=INTEGER}, #{goodsSn,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
      #{categoryId,jdbcType=INTEGER}, #{brandId,jdbcType=INTEGER}, #{gallery,jdbcType=VARCHAR},
      #{keywords,jdbcType=VARCHAR}, #{brief,jdbcType=VARCHAR}, #{isOnSale,jdbcType=BIT},
      #{sortOrder,jdbcType=SMALLINT}, #{picUrl,jdbcType=VARCHAR}, #{shareUrl,jdbcType=VARCHAR},
      #{isNew,jdbcType=BIT}, #{isHot,jdbcType=BIT}, #{unit,jdbcType=VARCHAR}, #{counterPrice,jdbcType=DECIMAL},
      #{retailPrice,jdbcType=DECIMAL}, #{addTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
      #{deleted,jdbcType=BIT}, #{detail,jdbcType=LONGVARCHAR})
  </insert>

    <select id="queryGoodsNumber" resultType="java.lang.Integer">
        select count(id) from cskaoyan_mall_goods where deleted = 0
    </select>
</mapper>
